*{
	margin-left:auto;
	margin-right:auto;
}
.w1000px{
	width: 1000px;
		margin-left:auto;
	margin-right:auto;
}
.background {
	
	background-image: url(../img/img01.jpg);
	width:100%;
	height:100%;
}

.nav ul li {
	list-style: none;
	float: right;
	font-size: 93%;
}
.nav ul li a:link, .nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
}
.imgcenter{
	
	margin:auto;
	width: 100%;
	right: 100%;
}
.one-third {
	font-size:20;
	width:20%;
	float: left;
	    margin-right:13%;

	
}
.clear{
	clear:both;
}

.we{
	width: 73%;
	float: left;
}
.hr{
	width: 100%;
}
.ul20{
	width: 19%;
	float: left;
}
.ul20 ul li{
	list-style: none;
}

.background2{
	background-image: url(../img/img05.jpg);
    width: 100%;
    height: 147px;
    margin-top: -10%;
}
.ul1{
	display:inline-block;
	width: 30%;
	height: 20%;
	list-style: none;
	color:#fff;
}

.ul1 h1{
	font-size: 20px;
	
}
.ul1 ul li{
	font-size: 20px;
	list-style: none;
}


